@use "./style.scss" as *;

body {
    background-color: $primary-color;
    overflow: hidden;
    // margin: $border-width;
    // border: $border;
}

html, body {
    margin: 0;
    height: 100%;

    font-family: $font-family;
}

#root {
    // position: absolute;
    width: 100%;
    height: 100%;
}

.BarsDockerContainer, .BarsDockerWindow {
    position: absolute;
}

.BarsDockerWindow {
    & > .TopBar {
        background-color: lighten($primary-color, 5%);
        display: flex;
        align-items: center;
        justify-content: center;
        height: $tab-height;
        width: 100%;

        border-bottom: $border;

        color: $font-color;
    }
}

.BarsDockerContainerSplitter {
    position: absolute;

    z-index: 3;

    & .bar {
        position: absolute;
        background-color: $border-color;

        transition: scale .5s;
        transition: background-color .5s;
    }

    // background-clip: padding-box;

    // pad

    $padding: 10px;
    $hover-expand: 1.4;

    $handle-width: calc($border-width + $padding * 2);

    &:hover .bar, &.dragging .bar {
        background-color: $select-border-color;
    }
    
    &.horizontal {
        // border-left: $border;
        cursor: ew-resize;
        height: 100%;
        width: $handle-width;

        translate: -$padding 0px;

        & .bar {
            height: 100%;
            width: $border-width;
            left: $padding;
        }

        &:hover .bar, &.dragging .bar {
            scale: $hover-expand 1;
        }
    }

    &.vertical {
        cursor: ns-resize;
        width: 100%;
        height: $handle-width;

        transform: translateY(-$padding);

        & .bar {
            height: $border-width;
            width: 100%;
            top: $padding;
        }

        &:hover .bar, &.dragging .bar {
            scale: 1 $hover-expand;
        }
    }
}