$primary-color: #242936;
$secondary-color: #192229;
$side-bar-color: #1f2430;
$border-color: #11141b; 
$select-border-color: #ea9431;
$font-family: monospace;
$font-color: #707a80;

$border-width: 2px;
$border: $border-color solid $border-width;